{% extends '::base.html.twig' %}
{% block content %}
{% form_theme form 'JobsBundle:Form:field.html.twig' %}
<h1>Jobs creation</h1>
<form id="job_form" novalidate action="{{ path('job_create') }}" method="post" {{ form_enctype(form) }}>
     {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
<ul class="record_actions">
    <li>
        <a href="{{ path('job') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}